<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
</head>
<body>

<h2>Create Account</h2>

<form method="post" action="/signup">
    <div>
        <label>Username</label><br>
        <input type="text" name="username" required>
    </div>

    <br>

    <div>
        <label>Password</label><br>
        <input type="password" name="password" required>
    </div>

    <br>

    <button type="submit">Sign Up</button>
</form>

<p th:text="${message}"></p>

</body>
</html>
